.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.error {
  color: red;
}

.images {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  .imageWrapper {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(black, 0.7);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 2;
    }

    .detailText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      opacity: 0;
      transition: opacity 0.3s ease;
      text-align: center;
    }

    .likeButton {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 4;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      .detailText {
        opacity: 1;
        z-index: 3;
      }
    }
  }

  img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.input {
  padding: 16px;
  border-radius: 8px;
  line-height: 20px;
  outline: none;
  border: 1px solid grey;
}
